body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100%;
    padding: 50px;
    overflow: hidden;
    font-size: clamp(.2rem, -0.875rem + 8.333vw, .6em);
}

.con {
    display: flex;
}

/* 
-------------------------------------------
| Media queries for diff view ports
-------------------------------------------
*/

@media only screen and (min-width: 200px) {

    .container {
        max-width: 200px;
    }
}

@media only screen and (min-width: 600px) {

    .container {
        max-width: 432px;
    }
}

@media only screen and (min-width: 768px) {

    .container {
        max-width: 432px;
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.col {
    flex-flow: column wrap;
    justify-content: space-between;
}


/* 
---------------------------------
| Header styling
---------------------------------
*/
header a {
    text-decoration: inherit;
    color: var(--lazy-color);
    text-transform: uppercase;
    transition: color .4s;
}

.social a {
    text-decoration: inherit;
    color: var(--white);
}

a {
    padding: 10px;
    transition: .4s border;
}

.social-icons:hover {
    border: 2px solid yelloq;
}

header a:focus {
    color: var(--text-color);
}

header a:hover {
    color: var(--hover-color);
}

header a:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    left: 20%;
    position: relative;
    background: var(--hover-color);
    transition: width .3s ease 0s, left .3s ease 0s;
    width: 0px;
}

header a:focus:after {
    width: 100%;
    left: 0;
}

.fnt-mono {
    font-family: monospace;
}