body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100%;
    padding: 50px;
    overflow: hidden;
    font-size: clamp(.2rem, -0.875rem + 8.333vw, .6em);
    display: flex;
    flex-flow: row wrap;
}

#nick {
    font-size: clamp(20px, -0.875rem + 8.333vw, 40px);
}

/* 
-------------------------------------------
| Media queries for diff view ports
-------------------------------------------
*/

@media only screen and (min-width: 200px) {

    .container {
        max-width: 200px;
    }
}

@media only screen and (min-width: 600px) {

    .container {
        max-width: 432px;
    }
}

@media only screen and (max-width:1120px) {
    .port-img{
        display: none;
    }
}

@media only screen and (min-width: 768px) {

    .container {
        max-width: 748px;
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.col {
    flex-flow: column wrap;
    justify-content: space-between;
}


/* 
---------------------------------
| Header styling
---------------------------------
*/
header a {
    text-decoration: inherit;
    color: var(--lazy-color);
    text-transform: uppercase;
    transition: color .4s;
}

.social a {
    text-decoration: inherit;
    color: var(--white);
}

a {
    padding: 10px;
    transition: .4s border;
}

.social-icon a {
    transition: .4s color;
}

.social-icon a:hover {
    color: var(--lazy-color);
}

header a:focus {
    color: var(--text-color);
}

header a:hover {
    color: var(--hover-color);
}

header a:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    left: 20%;
    position: relative;
    background: var(--hover-color);
    transition: width .3s ease 0s, left .3s ease 0s;
    width: 0px;
}

header a:focus:after {
    width: 100%;
    left: 0;
}

.fnt-mono {
    font-family: monospace;
}

header .row a,
.social-icon {
    padding-right: 5.8rem;
}

.port-img {
    position: absolute;
    top: 80px;
    right: 80px;
    height: 50%;
    width: 50%;
    border-radius: 80%;

}

.port-img-container {
    position: absolute;
    top: 100px;
    right: 200px;
    height: 500px;
    width: 500px;
}